REPLACE INTO `gameobject_template` (`entry`, `type`, `displayId`, `name`, `IconName`, `castBarCaption`, `unk1`, `faction`, `flags`, `size`, `questItem1`, `questItem2`, `questItem3`, `questItem4`, `questItem5`, `questItem6`, `data0`, `data1`, `data2`, `data3`, `data4`, `data5`, `data6`, `data7`, `data8`, `data9`, `data10`, `data11`, `data12`, `data13`, `data14`, `data15`, `data16`, `data17`, `data18`, `data19`, `data20`, `data21`, `data22`, `data23`, `ScriptName`) VALUES
(300000, 0, 7203, 'Forcefield 000', '', '', '', 1375, 32, 0.05, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '');
UPDATE `creature_template` SET npcflag=1, `ScriptName` = 'npc_sa_vendor' WHERE entry in (29260,29262);
DELETE FROM `creature_template` WHERE `entry` in (50000);
DELETE FROM `gameobject_template` WHERE `entry` in (190753,194086);
-- UPDATE `gameobject_template` SET `faction` = 14 WHERE `entry` in (192549,190727,190726,190723,190724,190722);
-- Разрушитель
DELETE FROM `vehicle_seat_data` WHERE seat in (2021,2023,2024);
INSERT INTO `vehicle_seat_data` VALUES ('2021', '7');
INSERT INTO `vehicle_seat_data` VALUES ('2023', '6');
INSERT INTO `vehicle_seat_data` VALUES ('2024', '6');
DeleTe From `npc_spellclick_spells` WHERE npc_entry in (28781);
INSERT INTO `npc_spellclick_spells` VALUES ('28781', '60968', '0', '0', '0', '0');

-- Противопехотная пушка
UPDATE `creature_template` SET unit_flags = 8, `faction_A` = '35', `faction_H` = '35', `ScriptName` = 'npc_sa_cannon' WHERE entry IN (27894);
DELETE FROM `vehicle_seat_data` WHERE seat in (2029);
DeleTe From `npc_spellclick_spells` WHERE npc_entry in (27894);
INSERT INTO `npc_spellclick_spells` VALUES ('27894', '60968', '0', '0', '0', '0');

/* Battleground Demolisher */
DELETE FROM creature_template_addon where entry = 28781;
INSERT INTO creature_template_addon VALUES (28781, 0, 0, 0, 0, 0, 158, NULL, NULL);
REPLACE INTO vehicle_data VALUES (158, 4, 52338, 60206, 0, 0, 0, 0, 0, 0, 0, 0, 0);
/* Antipersonnel Cannon */
DELETE FROM creature_template_addon where entry = 27894;
INSERT INTO creature_template_addon VALUES (27894, 0, 0, 0, 0, 0, 160, NULL, NULL);
REPLACE INTO vehicle_data VALUES (160, 5, 49872, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);

DELETE FROM `gameobject` WHERE `guid` in (200001,200002,200003,200004,200005,200006,200007);

DELETE FROM `gameobject_battleground` WHERE `guid` in (200001,200002,200003,200004,200005,200006,200007);
INSERT INTO `gameobject_battleground` (`guid` ,`event1` ,`event2`) VALUES 
('200001', '8', '0'),
('200002', '8', '0'),
('200003', '8', '0'),
('200004', '8', '0'),
('200005', '8', '0'),
('200006', '8', '0'),
('200007', '8', '0');

DELETE FROM `creature` WHERE `guid` in (200001,200002,200003,200004,200005,200006,200007,200008,200009,200010,200011,200012,200013,200014,200015,200016,200027,200028,200029,200030);
-- восток



DELETE FROM `creature_battleground` WHERE `guid` in (200001,200002,200003,200004,200005,200006,200007,200008,200009,200010,200011,200012,200013,200014,200015,200016,200027,200028,200029,200030);
INSERT INTO `creature_battleground` (`guid` ,`event1` ,`event2`) VALUES 
('200001', '7', '0'),
('200002', '7', '0'),
('200003', '7', '0'),
('200004', '7', '0'),
('200005', '7', '0'),
('200006', '7', '0'),
('200007', '7', '0'),
('200008', '7', '0'),
('200009', '7', '0'),
('200010', '7', '0'),
('200011', '7', '0'),
('200012', '7', '0'),
('200013', '7', '0'),
('200014', '7', '0'),
('200015', '7', '0'),
('200016', '7', '0'),
('200027', '9', '0'),
('200028', '9', '0'),
('200029', '10', '0'),
('200030', '10', '0');

DELETE FROM `battleground_events` WHERE `map` in (607);

DELETE FROM `creature` WHERE `guid` in (200017,200018,200019,200020,200021,200022,200023,200024,200025,200026);
-- у реликвииА
DELETE FROM `creature_battleground` WHERE `guid` in (200017,200018,200019,200020,200021,200022,200023,200024,200025,200026);
INSERT INTO `creature_battleground` (`guid` ,`event1` ,`event2`) VALUES 
('200017', '5', '3'),
('200018', '5', '4'),
('200025', '5', '4'),
('200026', '5', '3'),
('200019', '1', '4'),
('200020', '1', '3'),
('200021', '0', '4'),
('200022', '0', '3'),
('200023', '2', '4'),
('200024', '2', '3');

DELETE FROM `mangos_string` WHERE `entry` in (650,651,20000,20001,20002,20003,20004,20005,20006,20007,20008,20009,20010,20011,20012,20013,20014,20015,20016,20017,20018,20019,20020,20021,20022);

DELETE FROM `gameobject` WHERE `guid` in (200008,200009,200010,200011,200012,200013,200014,200015,200016,200017,200018,200019,200020,200021,200022,200023,200024,200025,200026,200027,200028);
-- Flagpole

DELETE FROM `gameobject_battleground` WHERE `guid` in (200008,200009,200010,200011,200012,200013,200014,200015,200016,200017,200018,200019,200020,200021,200022,200023,200024,200025,200026,200027,200028,200029,200030,200031,200032,200033,200034,200035,200036,200037,200038,200039,200040,200041,200042,200043,200044,200045,200046,200047,200048,200049,200050,200051,200052,200053,200054,200055,200056,200057,200058,200059,200060,200061,200062,200063,200064,200065,200066,200067,200068,200069,200070,200071,200072,200073,200074,200075,200076,200077,200078,200079,200080,200081,200082,200083,200084,200085,200086);

UPDATE `gameobject_template` Set `ScriptName` = 'go_sa_def_portal' WHERE entry = 191575;
DELETE FROM `gameobject` WHERE `guid` in (200029,200030,200031,200032,200033,200034,200035);
 -- комната святынь


DELETE FROM `gameobject` WHERE `guid` in (200052,200053,200054,200055,200056,200057,200058,200059,200060,200061,200062,200063,200064,200065,200066,200067,200068,200069,200070,200071,200072,200073,200074,200075,200076,200077,200078,200079,200080,200081,200082,200083,200084,200085,200086);

DELETE FROM `gameobject` WHERE `guid` in (200036,200037,200038,200039,200040,200041,200042,200043,200044,200045,200046,200047,200048,200049,200050,200051);

DELETE FROM `gameobject` WHERE `guid` in (200084,200085,200086);
